<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <!-- FAVIVON -->
    <link rel="shortcut icon" href="/public/images/favicon.png" type="image/png">
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- APP CSS -->
    <link rel="stylesheet" href="/public/css/app.css">
</head>

<body>

    <div class="container">
        <div class="main-container">
            <div class="main-content">
                <div class="form-container">
                    <div class="form-content box">
                        <div class="logo">
                            <img src="/public/images/logo-light.png" alt="Instagram logo" class="logo-light">
                            <img src="/public/images/logo-dark.png" alt="Instagram logo" class="logo-dark">
                        </div>

                        <form action="/login" method="post">
                            <div class="signin-form" id="signin-form">
                                <div class="form-group">
                                    <div class="animate-input">
                                        <span>
                                            
                                        </span>
                                        <input type="text" placeholder="Phone number, username or email" name="email" required>
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <div class="animate-input">
                                        <span>
                                        
                                        </span>
                                        <input type="password" placeholder="Password" name="pass" required>
                                        <button>Show</button>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <button class="btn-login" id="signin-btn" type="submit">
                                        Log In
                                    </button>
                                </div>
                                <div class="divine">
                                    <div></div>
                                    <div>OR</div>
                                    <div></div>
                                </div>
                                <div class="btn-group">
                                
                                    <button class="btn-fb">
                                        <img src="/public/images/facebook-icon.png" alt="">
                                    <a href="/" style="text-decoration: none;"> <span>Log in with Facebook</span></a>
                                    </button>
                                </div>
                                <a href="#" class="forgot-pw">Forgot password?</a>
                            </div>
                        </form>
                    </div>
                    <div class="box goto">
                        <p>
                            Don't have an account?
                            <a href="#">Sign up</a>
                        </p>
                    </div>

                    <div class="app-download">
                        <p>Get the app.</p>
                        <div class="store-link">
                            <a href="#">
                                <img src="/public/images/app-store.png" alt="app store">
                            </a>
                            <a href="#">
                                <img src="/public/images/gg-play.png" alt="google play">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="links">
                <a href="#">About</a>
                <a href="#">Blog</a>
                <a href="#">Jobs</a>
                <a href="#">Help</a>
                <a href="#">API</a>
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
                <a href="#">Top Accounts</a>
                <a href="#">Hashtags</a>
                <a href="#">Locations</a>
                <a href="#" id="darkmode-toggle">Darkmode</a>
            </div>
            <div class="copyright">
                © 2021 Instagram from Facebook
            </div>
        </div>
    </div>

    <!-- APP JS -->
    <script src="/public/js/app.js"></script>

</body>

</html>
